* {
  margin: 0;
  padding: 0;
}
html, body {
  height:100%;
  scroll-behavior: smooth;
}
:root {
  --deep-blue: #007ea7;
  --yellow: #ffc107;
  --button-color: #4caf50;
  --grey: #f5f5f5;
  --textcolor: #333333;
  --highlight: #ff5722;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
section {
  height: 500px;
}
.search-btn {
  color: var(--deep-blue); 
  cursor: pointer;
}
/* fading title */
.fading-title {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #0000ff, #ff00ff);
  background-size: 400%;
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s infinite;
}


@keyframes gradient-animation {
  0% { background-position: 0% 50%; };
  100% { background-position: 100% 50%; };
}

/* Header */
.cart-banner {
  width: 100%;
  background-color:var(--grey); 
  text-align: right;
  padding: 5px 10px;
}

.cart-banner a {
  color:var(--deep-blue);
  font-size: 1.2rem; 
}
.navbar-nav {
  flex: 1;
  justify-content: center;
}
.navbar-brand {
  left: 20px; 
}
.navbar-toggler {
  position: relative;
  right: 20px; 
}
.custom-menu {
  border: 0;
  background-color: transparent;
  outline: none;
}

.custom-menu:focus {
  outline: none;
  box-shadow: none;
}

.cart-badge {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
}

/* WELCOME PAGE */
.section-title {
  color: var(--dark-blue);
}

.welcome-col {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  height: 100%;
}
.water-category {
  text-align: center;
  z-index: 10; 
  cursor: pointer;
}

.welcome-col {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  height: 100%;
}
.welcome-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.welcome-button.hovered {
  transform: scale(1.2); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button-content {
  font-size: 24px;
  border: none;
}

.welcome-button:hover .button-content {
  text-decoration: underline;
  color: white;
}

.description {
  position: absolute;
  opacity: 0;
  font-size: 12px;
  border-radius: 5px;
}

.welcome-button.hovered .description {
  top: 65%;
  opacity: 1;
}

.welcome-button.hovered .hover-image {
  opacity: 1;
}

/* About Page */
.abt-title {
  color: var(--grey);
}

.abt-section {
  background-color: var(--deep-blue)
}

.abt-badge {
  background-color: var(--button-color);
}
                                                                                                  
/* Search Bar */
.search-icon {
  display:none;
}

.search-result {
  font-size: x-small;
}

.search-result:hover {
  text-decoration: underline;;
}

.search-icon:hover .search-icon{
  display: block;
}

/* CAT-Page */
.background-container {
  background-image: url('https://via.placeholder.com/600x400');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh; 
}

.clickable-item {
  cursor: pointer;
  transition: var(--grey) 0.1s;
}

.category-text {
  font-size: small;
}
.category-selected {
  background-color: var(--deep-blue);
  color: white;
  padding: 12px;
  border-radius: 50px;
}

.category-text:hover {
  text-decoration: underline;
}
/* Freshwater Page */
.freshpage {
  background: url('https://images.pexels.com/photos/1315891/pexels-photo-1315891.jpeg');
  background-size: cover;
  opacity: 0.9;
}
/* Saltwater Page */
.saltpage {
  background: url('https://images.pexels.com/photos/3689659/pexels-photo-3689659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  opacity: 0.9;
};
/* Species Detail  */
.species-info {
  font-size: 12px;
}

/* PRODUCTS */
.product-section{
  background-color: var(--grey)
} 

.card-image-container:hover .card-details {
  opacity: 1;
}

.card-image {
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: #333333 0px 0px 1px;
}
.product-category > a{
  text-decoration: none;
  cursor: pointer;
}

.product-category > a :hover {
  text-decoration: underline;
}
/* Care Page */
.care-section > p {
  font-size: 12px;
}
.care-row{
  font-size: small;
}
.care-row .col {
  min-height: 300px;
}
.fresh-care {
  background-image: url('https://images.pexels.com/photos/9408370/pexels-photo-9408370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--grey);
  opacity: 0.9;
}

.plants-care {
  background-color: var(--button-color);
}
.salt-care {
  background-color: var(--deep-blue);
}
.corals-care {
  background-image: url('https://images.unsplash.com/photo-1514907283155-ea5f4094c70c?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--grey);
  opacity: 0.9;
  background-color: var(--deep-blue);
}

/* Footer */
.footer-row {
  background-color: #f8f9fa;
  padding: 20px;
}
.logo {
  max-width: 50px;

}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: #333;
}

.footer-link:hover {
  text-decoration: underline;
}
.link-column {
  font-size: xx-small;
}

/* mobile query for tablets and phones */
@media (max-width: 720px) {
  .about-page-info {
    font-size: 12px;
  }
  .about-img {
    display: none;
  }
}
/* layout for small screens */
@media (max-width: 576px) {
  .welcome-col {
    padding: 5px;
  }

  .welcome-button {
    padding: 10px;
  }

  .button-content {
    font-size: 18px;
  }
}