/* change font for title */
:root {
    --dark-blue: #00171f;
    --blue: #003459;
    --sea-blue: #00a7e1;
    --dark-grey: #444140;


}
section {
    height: 300px;

}


.section-title {
    color:var(--dark-blue);
}