*{
    margin: 0;
    padding: 0;
}
/* change font for title */
:root {
    --dark-blue: #00171f;
    --blue: #003459;
    --sea-blue: #00a7e1; 
    --dark-grey: #444140;
    /*  */

}
section {
    height: 500px;
}

/* NAV */
header {
    background-color: var(--sea-blue);
    border-bottom:  1px solid var(--dark-grey);
    padding-bottom: 20px;
}
.sub-nav {
    margin-bottom: 2px;
}
.nav-link {
    color: #fff;
}
/* WELCOME PAGE */
.welcome-page{
    background-color: var(--blue);
    height: 700px;
}
.section-title {
    color:var(--dark-blue);
}

/* PRODUCTS */
.products {
    background-color: var(--blue);
}
.prod-sec2{
    display: flex;
    height:200px
}
#prod-button {
    width: 100%;
}
