* {
  margin: 0;
  padding: 0;

  color: var(--textcolor);
}
/* change font for title */
:root {
  --deep-blue: #007ea7;
  --yellow: #ffc107;
  --button-color: #4caf50;
  --grey: #f5f5f5;
  --textcolor: #333333;
  --highlight: #ff5722;
  /*  */
}

section {
  height: 500px;
}

.search-btn {
  color: #007ea7; 
  cursor: pointer;
}

/* NAV */
.custom-menu {
  border: 0;
  background-color: transparent;
  outline: none;
}

/* WELCOME PAGE */
.welcome-page {
  background-color: var(--grey);
  height: 700px;
}
.section-title {
  color: var(--dark-blue);
}

/* About Page */
.abt-title {
  color: var(--grey);
}
.abt-section {
  background-color: var(--deep-blue)
}
.abt-badge {
  background-color: var(--highlight);
}
.care-section {
  background-color: var(--button-color);
}
.care-title {
  color: var(--yellow);
}

/* Fresh-CAT-Page */
.clickable-item {
  cursor: pointer;
  background-color: #f7f7f7;
  transition: background-color 0.2s;
}

.clickable-item:hover {
  background-color: #e0e0e0;
}

.category-text {
  font-size: small;
}

/* Species Detail  */
.species-info {
  font-size: 12px;
}

/* PRODUCTS */
.card-image-container {
  overflow: hidden;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-image-container:hover .card-details {
  opacity: 1;
}

.card-image {
  transition: transform 0.3s ease;
}

.card-image-container:hover .card-image {
  transform: scale(1.1);
}
.product-category > a{
  text-decoration: none;
  cursor: pointer;
}

.product-category > a :hover {
  text-decoration: underline;
}

/* Footer */

.footer-row {
  background-color: #f8f9fa;
  padding: 20px;
}

.logo {
  max-width: 100px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: #333;
}

.footer-link:hover {
  text-decoration: underline;
}
.link-column {
  font-size: x-small;
}

/* mobile query for tablets and phones */
@media (max-width: 720px) {
  .ctgry-img {
    display: none;
  }
  .about-page-info {
    font-size: 12px;
  }
  .about-img {
    display: none;
  }
}
